@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.header{
    height: 4rem;
    background-color: #555AD5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.name{
    margin-left: 10%;
    color: white;
    font-size: 20px;
    font-family: Comfortaa;
}


@media (max-width: 849px){
    h1 {
     font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    }
    
   }

