@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    width: 100%;
}


.wrapper{
    display: flex;
    position: relative;
    height: calc(100vh - 100px);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.photo{
    position: absolute;
    height: 100%;
    width: auto;
}
.text h1{

    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 10%;
    color: #555AD5;
    font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    max-width: 700px;
    text-align: center;
    font-family: Manrope;
}

.text h2{
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 5%;
    color: #555AD5;
    font-size: calc(5px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    max-width: 40%;
    text-align: center;
    font-family: Manrope;
    font-weight: 500;
}

a{
    text-decoration: none;
}
.button_main_page{
    display: flex;
    justify-content: center;
    margin-left: 64%;
    margin-top: 5%;
    width: 300px;
    background-color: #555AD5;
    border: none;
    border-radius: 30px;
    height: 7%;
    align-items: center;
    color: white;
    font-family: Manrope;
    font-size: 25px;
    cursor: pointer;
}


/* Tablet */
@media (min-width: 650px) and (max-width: 849px){
    h1 {
     font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
     
    }
    .photo{
        margin-top: 10%;
        width: 450px;
        height: 450px;
    }

    .text{
        margin-top: 25%;
        margin-left: 35%;
        max-width: 300px;
    }
    .button_main_page{
        margin-left: 76%;
        height: 5%;
        width: 150px;
        font-size: 15px;
    }
    .text h2{
        max-width: 100%;
    }
   }


/* Laptop */
@media (min-width: 850px) and (max-width: 1025px){
    .photo{
        margin-top: 5%;
        width: 600px;
        height: 600px;
    }
    .text{
        margin-top: 10%;
        margin-left: 35%;
        max-width: 400px;
    }
    .button_main_page{
        margin-left: 76%;
        height: 6%;
        width: 200px;
        font-size: 20px;
    }

    .text h2{
        max-width: 100%;
    }
}


/* Mobile */
@media (max-width: 649px) {
    .photo{
        display: none;
    }
    .wrapper h1{
        margin-left: 0;
        margin-top: 20%;
    }
    .text{
        margin-right: 50%;
        margin-top: 20%;
    }
    .button_main_page{
        margin-top: 10%;
        margin-left: 40%;
        height: 6%;
        width: 200px;
        font-size: 20px;
    }

    .text h2{
        margin-top: 10%;
        max-width: 100%;
        font-size: 16px;
        margin-left: 20%;
    }
    .text h1{
        font-size: 25px;
        width: 300px;
        margin-left: 20%;
        
    }
}