@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    width: 100%;
}

a{
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: row;
}

.photo{
    max-width: 50%;
}

.photo img{
    height: 100%;
}

.text_container{
    margin-top: 10%;
    max-width: 45%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text_container h1{

    font-size: 50px;   
    margin-bottom: 5%; 
    font-weight: 1000;
    color: #555AD5;
}

.text_container h2{

    font-size: 40px;   
    color: #555AD5; 
}

.button_main_page{
    margin-top: 5%;
    width: 300px;
    background-color: #555AD5;
    border: none;
    border-radius: 30px;
    height: 8%;
    color: white;
    font-family: Manrope;
    font-size: 25px;
    cursor: pointer;
}


@media (max-width: 1440px) {

.text_container h1{
    font-size: 40px;
}

.text_container h2{
    font-size: 30px;
}
}

@media (max-width: 900px) {

    .text_container h1{
        font-size: 30px;
    }
    
    .text_container h2{
        font-size: 20px;
    }
    .button_main_page{
        height: auto;
    }
}

@media (max-width: 500px) {
    .photo{
        display: none;
    }
    .main{
        justify-content: center;
        margin-top: 20%;
    }
    .text_container{
        max-width: 90%;
    }
    .text_container h1{
        font-size: 30px;
    }
    
    .text_container h2{
        font-size: 20px;
    }
    }