*{
    margin: 0;
    padding: 0;
}

.count{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.main_test_page input:active
{
    background-color:#555AD5;
    color: #fff;
}